.container {
    max-width: 1920px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
}