@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-gradient-blue-liner: linear-gradient(to right, #002244, #000000);
    --color-red-liner: linear-gradient(55deg, rgba(25, 34, 48, 1), rgba(255, 0, 0, 0.512), rgba(25, 34, 48, 1));
    --color-white-text: #FFFFFF;
    --color-blue-text: #377DE5;
    --color-red-text: #FF4A4A;

    --font-onest: 'Onest', sans-serif;

    --breakpoint-xxl: 1870px;
    --breakpoint-xl: 1500px;
    --breakpoint-lg: 1200px;
    --breakpoint-md: 992px;
    --breakpoint-sm: 768px;
    --breakpoint-xs: 480px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #12161C;
}